.input {
  display: flex;
  align-items: center;

  input {
    flex: 1 0 0;
  }
}

.swatch {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  display: flex;
  width: 2rem;
  height: 2rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 100vmax;
  margin-right: 0.5rem;
}
