.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  background: rgb(0 0 0 / 0.5);
  padding: 1rem;
  backdrop-filter: blur(4px);
}

.dialog {
  display: grid;

  background: white;
  width: 100%;
  max-width: 480px;
  border-radius: 1rem;
  box-shadow: 1px 1px 24px 0px rgb(0 0 0 / 0.375);

  pre {
    color: var(--color-primary-900);
    background: var(--color-primary-100);
    padding: 1.5rem 1rem;
    line-height: 1.75;

    @media (width >= 480px) {
      padding: 1.5rem 2rem;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem 0.5rem;

  @media (width >= 480px) {
    padding: 0.75rem 1.5rem 0.5rem;
  }

  h2 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
  }

  button {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 44px;
    height: 44px;
    background: transparent;
    border: none;
  }
}

.footer {
  padding: 1.5rem 1rem 1.5rem;

  @media (width >= 480px) {
    padding: 1.5rem 1.5rem 1.5rem;
  }

  button {
    font-weight: 500;
    color: var(--color-primary-100);
    background: var(--color-primary-900);
    border: none;
    border-radius: 100vmax;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
  }
}
