.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  background: rgb(0 0 0 / 0.5);
  padding: 2rem;

  .dialog {
    background: white;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;

    h2 {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
