.gridWrapper {
  flex-grow: 1;
  overflow-y: scroll;

  @media (width >= 560px) {
    height: 100svh;
    height: 100%;
  }
}

.grid {
  --grid-transition-duration: 500ms;
  --grid-transition-easing: cubic-bezier(0.33, 1, 0.68, 1);

  display: grid;
  overflow: clip;
  min-height: 100%;
  transition: grid-template-rows var(--grid-transition-duration)
    var(--grid-transition-easing);
  padding-bottom: 1.25rem;
  /* background: var(--color-primary-900); */
  background: black;
}

.cardWrapper {
  --bg: black;
  background: var(--bg);
  transition: background var(--grid-transition-duration)
    var(--grid-transition-easing);

  &[data-active="true"] {
    --bg: var(--background);
  }
}
