.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.group {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid rgb(0 0 0 / 0.2);
  border-radius: 100vmax;
  padding-inline: 0.5rem;
  margin-right: -0.5rem;

  &:has(:focus-visible) {
    outline: 2px solid var(--color-primary-500);
  }
}

.input {
  max-width: 8ch;
  text-align: center;
  font-variant-numeric: tabular-nums;
  padding-block-start: 0.625rem;
  padding-block-end: 0.575rem;
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }

  &::selection {
    background: var(--color-primary-100);
  }
}

.button {
  position: absolute;
  top: 0;
  background: transparent;
  border: none;
  width: 3ch;
  height: 100%;

  &.dec {
    left: 0.25rem;
  }

  &.inc {
    right: 0.25rem;
  }
}
