.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  hr {
    /* margin: 0; */
    border: none;
    border-top: 1px solid rgb(0 0 0 / 0.15);
  }
}

.form {
  position: relative;
  display: grid;
  grid-auto-rows: max-content;
  gap: 1.5rem;
  padding-inline: 1.5rem;
  padding-block-start: 0.5rem;
  padding-block-end: 1.5rem;
  z-index: 1000;

  &::before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: 100%;
    height: calc((1.25rem + 2px));
    background: white;
    border-radius: 1rem 1rem 0 0;
  }

  @media (width >= 480px) {
    padding-block-start: 1.5rem;

    &::before {
      display: none;
    }
  }

  @media (width >= 560px) {
    /* min-height: 100svh; */
    padding-inline: 2rem;
    padding-block: 2rem;
  }
}

.exportTrigger {
  display: grid;
  padding: 2rem;
  user-select: none;

  button {
    font-weight: 500;
    color: var(--color-primary-100);
    background: var(--color-primary-900);
    border: none;
    border-radius: 100vmax;
    padding: 1rem;
    cursor: pointer;
  }
}
