.slider {
  --track-height: 1.5rem;
  --thumb-size: 0.75rem;
  --thumb-offset-inline: calc(var(--track-height) / 2);

  display: grid;
  row-gap: 0.5rem;
  width: 100%;
  color: black;

  &[data-variant="default"] {
    --thumb-size: 1rem;
    --thumb-offset-inline: calc(var(--thumb-size) / 2);
  }
}

.topRow {
  display: flex;
  align-items: baseline;
  font-size: 0.875rem;
}

.label {
  flex: 1 0 0;
}

.output {
  flex: 0 0 6ch;
  max-width: 6ch;

  input {
    max-width: inherit;
    text-align: center;
    font-variant-numeric: tabular-nums;
    background: rgb(0 0 0 / 0.05);
    border: none;
    padding-block-start: 0.25rem;
    padding-block-end: 0.2rem;
    border-radius: 3px;
  }
}

.trackWrapper {
  padding-inline: var(--thumb-offset-inline);
}

.track {
  /* grid-area: track; */
  position: relative;
  height: var(--track-height);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: calc(var(--thumb-offset-inline) * -1);
    right: calc(var(--thumb-offset-inline) * -1);
    height: 0.25rem;
    translate: 0 -50%;
    border-radius: 0.25rem;
  }

  [data-variant="default"] &:before {
    background: linear-gradient(
      to right,
      var(--color-primary-500, red) var(--progress),
      rgb(0 0 0 / 0.2) var(--progress),
      rgb(0 0 0 / 0.2) 100%
    );
  }

  [data-variant="hue"] &:before {
    height: 100%;
    background: linear-gradient(
      to right in oklch longer hue,
      oklch(70% 0.3 0),
      oklch(70% 0.3 0) 100%
    );
  }

  [data-variant="saturation"] &:before {
    height: 100%;
    background: linear-gradient(
      to right,
      var(--color-primary-desaturated, red),
      var(--color-primary-saturated, red) 90%
    );
  }

  [data-variant="lightness"] &:before {
    height: 100%;
    background: linear-gradient(
      to right,
      var(--color-primary-900, red),
      var(--color-primary-500, red) 50%,
      var(--color-primary-100, red) 100%
    );
  }
}

.thumb {
  top: 50%;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: var(--thumb-size);
  background: white;

  &[data-dragging] {
    outline: 2px solid rgb(0 0 0 / 0.25);
  }

  &[data-focus-visible] {
    outline: 2px solid rgb(0 95 204);
  }

  [data-variant="default"] & {
    background: black;
  }
}
