.main {
  display: flex;
  flex-direction: column-reverse;
  height: 100svh;
  overflow: clip;
  border: 4px solid salmon;

  @media (width >= 480px) {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: auto;
  }

  @media (width >= 560px) {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: auto;
  }
}
