* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, sans-serif;
  font-variant-numeric: tabular-nums;
}

/* header form {
  display: grid;
  grid-auto-rows: max-content;
  min-height: 200px;
  padding: 1rem;
} */

/* .hex-input {
  display: flex;
  align-items: center;
}

.swatch {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  display: flex;
  width: 2rem;
  height: 2rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 100vmax;
  margin-right: 0.5rem;
} */

/* main {
  display: flex;
  min-height: calc(100lvh - 200px);
  overflow: clip;
} */
